body {
   display: inline-block;
   background-color:rgb(200,200,200);
}
.topbar {
   background-color:rgb(50,50,255);
   overflow: hidden;
}
.topbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topbar div {
  float: left;
  
  
  padding: 14px 16px;
  
}
